h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
html, body {
  /*margin: 2em;*/
  height: 100%;
  width: 100%;
  margin: 0;
}


.content {
    background-color: green;
    overflow: auto;
}

/*.main {
    width: 1920px;
    height: 1080px;
}*/

.hidden {
    display: none;
}

.visible {
    display: block;
}
