html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#od-app {

}


#od-content {
    color: #428bca;
    height: 89%;
}

#od-sidebar {

}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
